/* Responsividade - -

All: Para todos os dispositivos.
Braille: Para dispositivos táteis.
Embosed: Para dispositivos que imprimem em braile.
Handhold: Para dispositivos portáteis, geralmente com tela pequena e banda limitada.
Print: Para impressão em papel.
Projection: Para apresentações em PPS.
Screen: Para monitores e dispositivos com telas coloridas e alta resolução.
Speech: Para sintetizadores de voz. As CSS-2 tem uma especificação de CSS chamada Aural, onde podemos formatar a voz dos sintetizadores.

Orientação:
Portrait: altura maior que a largura.
Landscape: largura maior que a altura.

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
div {
    height: 200px;
    width: 200px;
    background: blue;

}

@media (min-width: 600px) {
     div {
        background: red;
     }   
}
*/

div {
    height: 700px;
    width: 700px;
    background: blue;

}

@media screen and (max-width: 600px) and (orientation: landscape) {
     div {
        background: red;
        height: 200px;
        width: 200px;
     }   
}

